.cube__face{
  width:100px;
  height: 100px;
  color: #fff;
  display: inline-block;
  margin: 10px;
  position: absolute;
}
.cube__face--front{
  background: #008000;
  transform: rotateY(0deg) translateZ(50px);
}
.cube__face--back{
  background:greenyellow;
  transform: rotateY(180deg) translateZ(50px);
}
.cube__face--right{
  background: hotpink;
  transform: rotateY(90deg) translateZ(50px);
}
.cube__face--left{
  background: black;
  transform: rotateY(-90deg) translateZ(50px);
}
.cube__face--top{
  background: blue;
  transform: rotateX(90deg) translateZ(50px);
}
.cube__face--bottom{
  background:red;
  transform: rotateX(-90deg) translateZ(50px);
}

.scene{
  position: absolute;
  top: 50%;
  left: 50%;
  perspective: 250px;
}
.cube{
  transform-style: preserve-3d;
  position: relative;
  transform: translateZ(50px);
  /* animation: circle 2s infinite; */
}
@keyframes circle{
  0%{ transform:rotateX(0deg); }
  100%{ transform:rotate(360deg); }
}